
$mobile: 550px;
$small-tablet: 700px;
$tablet: 800px;
$desktop: 1000px;

@font-face {
  font-family: ComicRelief;
  src: url('../fonts/ComicRelief-Regular.ttf');
}
@font-face {
  font-family: 'outfit';
  src: url('../fonts/Outfit-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'comic sans';
  src: url('../fonts/Comic%20Sans%20MS.woff');
}

@mixin display-flex($justify-content, $align-items, $flex-flow, $gap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-flow: $flex-flow;
  gap: $gap;
}

@mixin display-grid($numCols, $min-width, $max-width, $gap) {
  display: grid;
  grid-template-columns: repeat($numCols, minmax($min-width, $max-width));
  gap: $gap;
}

@keyframes load {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes counterRotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

// @keyframes appear {
//   from {
//     opacity: 0;
//     transform: scale(0.5);
//   }
//   to {
//     opacity: 1;
//     transform: scale(1);
//   }
// }