
@font-face {
  font-family: 'outfit';
  src: url('../../assets/fonts/outfit.ttf');
}
@font-face {
  font-family: 'jetbrains-mono';
  src: url('../../assets/fonts/jetbrains-mono.ttf');
}
@font-face {
  font-family: 'love-light';
  src: url('../../assets/fonts/love-light.ttf');
}
@font-face {
  font-family: 'audio-wide';
  src: url('../../assets/fonts/audio-wide.ttf');
}
@font-face {
  font-family: 'comic-relief';
  src: url('../../assets/fonts/comic-relief.ttf');
}
@font-face {
  font-family: 'comic-sans';
  src: url('../../assets/fonts/comic-sans.woff');
}