
@use '../util/' as *;

.contact {
  min-height: 50dvh;
  @include df(center, center, column, 20px);
  & h1 {
    @include h2;
  }
  &__links {
    position: relative;
    z-index: 4;
    width: 100%;
    @include df(center, center, row wrap, 20px);
    & a{
      @include btn;
      & {
        border: 2px solid var(--text);
        font-size: 1.2rem;
      }
      img {
        width: 20px;
        height: 20px;
        filter: brightness(0%) invert(1);
      }
    }
    
    #phone-link:hover {
      background: var(--teal);
      border-color: var(--teal);
      color: var(--text);
    }
    #pinterest-link:hover {
      background: crimson;
      border-color: crimson;
      color: var(--text);
    }
    #linkedIn-link:hover {
      background: dodgerblue;
      border-color: dodgerblue;
      color: var(--text);
    }
    #whatsapp-link:hover {
      background: green;
      color: var(--text);
      border-color: green;
    }
    
    
    #upwork-link:hover {
      background: purple;
      color: var(--text);
      border-color: purple;
    }
    #github-link:hover {
      background: white;
      color: black;
      border-color: white;
    }
    #front-end-mentor-link:hover {
      background: blueviolet;
      color: var(--text);
      border-color: blueviolet;
    }

  }  
}  
