@use '../util/' as *;

.edu {
  min-height: 600px;
  padding: 20px var(--side-padding);
  @include df(center, center, column, 25px);

  h1 {
    @include h2;
  }
  &__content {
    position: relative;
    width: 100%;
    @include df(center, center, column);
    &__stage {
      width: 100%;
      @include df;
      >* {
        // flex: 1;
        width: 50%;
      }
      &__details {
        padding: 0 20px 70px 20px;
        border-left: 1px solid var(--medium);
        & p {
          font-style: italic;
        }
      }
      &__year {
        border-right: 1px solid var(--medium);
        padding: 0 20px;
        color: var(--medium);
        text-align: right;
        font-weight: 400;
        font-size: 20px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--bg);
          border-radius: 50%;
          border: 2px solid;
          right: 0;
          transform: translateX(calc(50% + 1px));
        }
      }

      &:nth-of-type(2n) {
        flex-flow: row-reverse;
        >h3 {
          text-align: left;
          border: none;
          border-left: 1px solid var(--medium);
          &::after {
            content: '';
            left: 0;
            transform: translateX(calc(-50% - 1px));
          }
        }
        >div {
          border: none;
          border-right: 1px solid var(--medium);
          text-align: right;
        }
      }
    }
  }
}