@use '../util/' as *;

.faq {
  padding: 20px var(--side-padding);
  min-height: 50dvh;
  @include df(center, center, column, 20px);
  h1 {
    @include h2;
  }
  &__questions {
    width: 100%;
    max-width: 600px;
    @include df(normal, normal, column, 5px);
    details {
      width: 100%;
      transition: all .5s;
      @include df(normal, normal, column, 5px);
      a {
        display: inline-block;
        color: #037d92;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 1px solid;
      }
      summary {
        border: 1px solid var(--gray);
        padding: 10px;
        outline: none;
        @include df(space-between, center, row, 10px);
        &::marker {
          display: none;
        }
        &::after {
          content: '+';
          width: 30px;
          height: 30px;
          border: 1px solid;
          transition: all .3s;
          @include df(center, center);
        }
      }
      p {
        padding: 10px;
        opacity: 0;
        color: var(--text);
        background: var(--bg);
        transition: all .3s;
      }
      &[open] {
        summary {
          &::after {
            content: '-';
          }
        }
        p {
          opacity: 1;
        }
      }
    }
  }
}

// details::marker {
//     display: none;
// }
// details summary::-webkit-details-marker {
//     display: none;
// }
// details::details-content {
//     display: block;
//     block-size: 0;
//     overflow: hidden;
//     transition-property: block-size;
//     transition-duration: .5s;
//     transition-behavior: allow-discrete;
// }
// details[open]::details-content {
//     block-size: auto;
//     block-size: calc-size(auto);
// }