
@use '../util/' as *;

footer {
    position: relative;
    padding: 25px var(--side-padding);
    z-index: 1;
    color: var(--text);
    background: var(--header-bg);
    @include df(center, center, column, 20px);
    & div {
        padding: 10px 0;
        color: var(--gray);
    }
}