
@use '../util/' as *;

footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px, 100px));
    justify-content: left;
    align-items: center;
    column-gap: 25px;
    padding: 25px 10%;
    font-size: 100%;
    z-index: 1;
    background: rgb(20, 20, 20);
}
footer h1 {
    grid-column: 1/-1;
}
footer p {
    grid-column: 1/-1;
}
footer div {
    grid-column: 1/-1;
    padding: 10px 0;
    color: #636363;
}