
@use '../util/' as *;

.profile {
  text-align: center;
  min-height: 70dvh;
  @include df(center, center, column, 2rem);
  >* {
    align-items: center;
  }
   
  &__img {
    position: relative;
    display: inline-block;
    #profileImg {
      border-radius: 50%;
      max-width: 400px;
      filter: brightness();
      z-index: 2;
    
      @media (max-width: 29.68em) {
        max-width: 15.7em;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: auto;
      z-index: -1;
      fill: var(--text);
      display: none;

      @media (max-width: 29.68em) {
        width: 350px;
      }
    }
  }
  
  &__content {
    @include df(center, center, column, 20px);
    &__text {
      @include df(center, center, column, 10px);
      h1 {
        @include h2;
      }
      & h3:first-of-type {
        border-bottom: 2px solid gray;
        padding-bottom: 10px;
      }
      #greeting-el {
        background-image: linear-gradient(90deg, #00DBDE, #FC00FF);
        background-clip: text;
        color: transparent;
      }
      p {
        line-height: 1.5;
      }
    }
    &__links {
      margin-top: 15px;
      @include df(normal, normal, row, 10px);
      & a {
        text-decoration: none;
        color: var(--text);
        background: var(--dark-cream);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all .3s;
        color: var(--cream);
        @include df(center, center);
        i {
          font-size: 1.2rem;
          transition: all  .3s;
        }
        &:hover {
          color: var(--teal);
          transform: scale(1.2);
        }
      }
    }
  }
  @media (min-width: $tab) {
    @include df(center, center, row, 2rem);
    text-align: left;
    >* {
      text-align: left;
    }
    &__img {
      #profileImg {
        max-width: 300px;
      }
    }
    &__content {
      @include df(normal, normal, column, 10px);
      &__text {
        @include df(normal, normal, column, 10px);
      }
    }
  }
}



