@use '../util/' as *;

.loader {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  color: var(--text);
  @include df(center, center);
  
  &__spinner {
    $b_width: 5px;
    height: 70px;
    width: 70px;
    border: $b_width solid transparent;
    border-top: $b_width solid var(--teal);
    border-radius: 50%;
    animation: load .8s linear 0s infinite normal;
    @include df(center, center);
    
    >span {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: inherit;
      animation: none;
      animation: counterRotate .8s linear 0s infinite normal;
      color: var(--medium);
      border: 1px solid;
      text-transform: uppercase;
      @include df(center, center);
    }
  }
}