@use '../variables-and-mixins' as *;

#projects {
  @include display-flex(space-between, none, column, 25px 0);
  
  
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  #whole-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    grid-auto-flow: dense;
  }
}


.each-whole {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all .3s;

  &:hover {
    transform: scale(1.02);
  }
  // Bento grid effect: make every 3rd project larger
  &:nth-child(3n) {
    grid-column: span 2;
    grid-row: span 2;
  }

  >a {
    transition: opacity .2s;
    &:hover {
      opacity: .8;
    }
    &:active {
      opacity: 1;
    }
  }

   img {
    width: 100%;
    display: block;
    filter: contrast();
    border-radius: 15px;
  }

  #project-title {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dev {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #157fa0;
    font-variant: small-caps;
    font-weight: 800;
    padding-bottom: 3px;
    transition: color .2s;

    &:hover {
      border-bottom: 2px solid #1a6123;
    }
  }
}

.tools {
  display: flex;
  text-transform: uppercase;

  span {
    padding: 2px 10px 2px 0;
    color: #636363;
    border-bottom: 1px solid;
  
    &.html-tag {
      color: #941111b7;
    }
    &.css-tag {
      color: #0d54a5;
    }
    &.js-tag {
      color: #686565;
    }
    &.scss-tag {
      color: #a00e7b;
    }
  }
}

@media (max-width: 600px) {
  #whole-projects {
    grid-template-columns: 1fr;
  }
  .each-whole:nth-child(3n) {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}


#back-to-home {
  display: inline-block;
  margin: 50px auto 0 auto;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border: 2px solid #157fa0;
  font-variant: small-caps;
  font-weight: 800;
  transition: all .2s;
  border-radius: 30px;

  &:hover {
    background-color: #157fa0;
    color: black;
  }
}