@use '../util/' as *;

.projects {
  min-height: 100dvh;
  padding: 2rem var(--side-padding);
  @include df(center, center, column, 2rem);
  
  h1 {
    @include h2;
  }
  &__content {
    width: 100%;
    @include dg(auto-fit, 300px, 1fr, 2rem);
    @media (max-width: $mini-tab) {
      @include dg(auto-fit, 250px, 1fr, 2rem);
    }
    &__each {
      background: rgba(#000000,.5);
      color: var(--text);
      border-radius: 5px;
      overflow: hidden;
      @include df(normal, normal, column, 0);
      &__img {
        width: 100%;
        height: 300px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .3s;
        }
      }
      .details {
        background: var(--dark-cream);
        color: var(--text);
        @include df(center, center, column, 15px);
        h2 {
          padding: 10px;
          text-align: center;
        }
        .dev-links {
          padding: 0 10px;
          @include df(center, center, row wrap, 15px);
          a {
            @include btn(var(--text), var(--bg), beige);
          }
        }
        .tools {
          width: 100%;
          padding: 5px;
          border-top: 1px solid var(--gray);
          background: beige;
          color: var(--bg);
          @include df(center, center, row, 10px);
          i {
            padding: 5px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: var(--dark-cream);
            color: var(--cream);
            font-size: 18px;
            @include df(center, center);
            // &.fa-html5 {color: #e34c26;}
            // &.fa-css3-alt {color: #264de4;}
            // &.fa-sass {color: #cd6799;}
            // &.fa-js {color: #f0db4f;}
            // &.fa-react {color: #61dbfb;}
          }
        }
      }
    }
  }
  &__more-btn {
    @include btn;
  }
}